# Exploratory Data Analysis

In [2]:
import os
import numpy as np
import pandas as pd
import sklearn as sk
import matplotlib.pyplot as plt

In [11]:
#get folder path
folder_path = os.path.dirname(os.path.dirname(os.path.realpath("EDA.ipynb")))

#get small data path
small_neg_path = os.path.join(folder_path, "twitter-datasets", "small_neg.txt")
small_pos_path = os.path.join(folder_path, "twitter-datasets", "small_pos.txt")

#create small data dataframe
with open(small_neg_path, 'r') as file:
    lines_neg = file.readlines()
with open(small_pos_path, 'r') as file:
    lines_pos = file.readlines()

small_neg_df = pd.DataFrame({'Tweets': lines_neg, 'Sentiment': -1})
small_pos_df = pd.DataFrame({'Tweets': lines_pos, 'Sentiment': 1})

                                                Tweets  Sentiment
0    <user> i dunno justin read my mention or not ....          1
1    because your logic is so dumb , i won't even c...          1
2    " <user> just put casper in a box ! " looved t...          1
3    <user> <user> thanks sir > > don't trip lil ma...          1
4    visiting my brother tmr is the bestest birthda...          1
..                                                 ...        ...
495  the next time the boys are in australia niall ...          1
496  the next time the boys are in australia niall ...          1
497  the next time the boys are in australia niall ...          1
498  <user> have an amazing show tonight ! ! i'll b...          1
499                        i'm glad this day is ending          1

[500 rows x 2 columns]

In [15]:
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.model_selection import train_test_split

# Combine your positive and negative dataframes
combined_df = pd.concat([small_neg_df, small_pos_df], ignore_index=True)

# Assuming 'Tweets' contains the tweet text and 'Sentiment' contains the sentiment labels
X = combined_df['Tweets']
y = combined_df['Sentiment']

# Split the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Initialize the TfidfVectorizer
tfidf_vectorizer = TfidfVectorizer(max_features=5000)  # You can adjust max_features as needed

# Fit and transform the training data
X_train_tfidf = tfidf_vectorizer.fit_transform(X_train)

# Transform the testing data
X_test_tfidf = tfidf_vectorizer.transform(X_test)

In [17]:
combined_df

                                                Tweets  Sentiment
0    vinco tresorpack 6 ( difficulty 10 of 10 objec...         -1
1    glad i dot have taks tomorrow ! ! #thankful #s...         -1
2    1-3 vs celtics in the regular season = were fu...         -1
3    <user> i could actually kill that girl i'm so ...         -1
4    <user> <user> <user> i find that very hard to ...         -1
..                                                 ...        ...
995  the next time the boys are in australia niall ...          1
996  the next time the boys are in australia niall ...          1
997  the next time the boys are in australia niall ...          1
998  <user> have an amazing show tonight ! ! i'll b...          1
999                        i'm glad this day is ending          1

[1000 rows x 2 columns]